[submodule "vim/vim/gc/bundle/ctrlp.vim"]
	path = vim/vim/gc/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim/gc/bundle/nerdtree"]
	path = vim/vim/gc/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/gc/bundle/supertab"]
	path = vim/vim/gc/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim/gc/bundle/vim-notes"]
	path = vim/vim/gc/bundle/vim-notes
	url = https://github.com/xolox/vim-notes.git
[submodule "vim/vim/gc/bundle/vim-surround"]
	path = vim/vim/gc/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/vim/gc/bundle/vimux"]
	path = vim/vim/gc/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/vim/gc/bundle/ack.vim"]
	path = vim/vim/gc/bundle/ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/vim/gc/bundle/vim-endwise"]
	path = vim/vim/gc/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/vim/gc/bundle/vim-markdown"]
	path = vim/vim/gc/bundle/vim-markdown
	url = git://github.com/plasticboy/vim-markdown.git
[submodule "vim/vim/gc/bundle/vim-ruby"]
	path = vim/vim/gc/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/vim/gc/bundle/tabular"]
	path = vim/vim/gc/bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/vim/gc/bundle/vim-commentary"]
	path = vim/vim/gc/bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "vim/vim/gc/bundle/vim-fugitive"]
	path = vim/vim/gc/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim/gc/bundle/powerline"]
	path = vim/vim/gc/bundle/powerline
	url = git://github.com/Lokaltog/powerline.git
